:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #f6f6f6;
    background-color: #2f2f2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 800px; /* adjust this value to fit your app's content */
    margin: 40px auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accounts-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.accounts-item {
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deposit-button {
    margin-top: 10px;
}

.deposit-button button {
    padding: 8px 12px; 
    margin-right: 10px; 
    background-color: green; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

.withdraw-button {
    margin-top: 10px;
}

.withdraw-button button {
    padding: 8px 12px; 
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

.nullifier-container {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

#nullifier {
    border: 1px solid #ddd;
    height: 50px; /* Fixed height */
    padding: 5px; /* Optional: Padding inside the box */
    border: 1px solid #ccc; /* Optional: Border for visibility */
    border-radius: 5px; /* Optional: Rounded corners */
    overflow-wrap: break-word; /* Allows long words to break to the next line */
    word-break: break-word; /* Breaks long words at word boundaries */
    text-align: left; /* Left-align the text horizontally */
    display: flex; /* Enables flexbox */
}
